



#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: tan;
}

body {
    background-color: green;
}

header {
    background-color: tan;
}

nav a:hover {
    background-color: brown;
}

.book, .join {
    background-color: orange;
}

.book:hover, join:hover {
    background-color: yellow;
}

.msg {
    background-color: darkgrey;
}

footer {
    background-color: tan;
}

